@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  * {
    font-family: "Poppins", sans-serif;

    scroll-behavior: smooth;
  }

  .button-1 {
    @apply text-white px-4 py-2 font-semibold rounded-md text-xl;
    @apply hover:bg-yellow-600 transition-all;
    background-color: #E3B727;
  }

  .my-title-color {
    color: #2e2d2d;
  }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }
